<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tabla de Mantenimiento de Usuarios</h3>
            </div>
            <div class="card-body">
                <!-- <p-toast></p-toast> -->
                <div class="card">
                    <p-toolbar styleClass="p-mb-4">
                        <ng-template pTemplate="left">
                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
                            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                        </ng-template>

                        <ng-template pTemplate="right">
                            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
                            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
                        </ng-template>
                    </p-toolbar>

                    <p-table #dt [value]="usuarios" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" [(selection)]="selectedProducts" [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [showCurrentPageReport]="true">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                <h5 class="p-m-0">Tabla de Manejo de Usuarios</h5>
                                <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <!-- <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." /> -->
                        </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th>Image</th>
                                <th pSortableColumn="name">Nombre
                                    <p-sortIcon field="name"></p-sortIcon>
                                </th>
                                <th pSortableColumn="lastname">Apellido
                                    <p-sortIcon field="price"></p-sortIcon>
                                </th>
                                <th pSortableColumn="correo">Correo
                                    <p-sortIcon field="category"></p-sortIcon>
                                </th>
                                <th pSortableColumn="role">Role
                                    <p-sortIcon field="inventoryStatus"></p-sortIcon>
                                </th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-usuario>
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]=""></p-tableCheckbox>
                                </td>
                                <!-- <td>{{usuario.img}}</td> -->
                                <td><img [src]="baseUrlImg + usuario.img" [alt]="usuario.img" style="border-radius: 150px;" width="50" class="p-shadow-4" /></td>
                                <td>{{usuario.nombre}}</td>
                                <td>{{usuario.apellido}}</td>
                                <td>{{usuario.correo}}</td>
                                <td>{{usuario.role}}</td>
                                <!-- <td><span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span></td> -->
                                <td>
                                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(usuario)"></button>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(usuario)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                En total hay {{total}} usuarios

                            </div>
                        </ng-template>
                    </p-table>
                </div>

                <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Datos de Usuario" [modal]="true" styleClass="p-fluid">
                    <ng-template pTemplate="content">
                        <!-- <img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.image" class="product-image" *ngIf="product.image"> -->
                        <div class="p-field">
                            <label for="dni">DNI</label>
                            <input type="number" id="dni" [(ngModel)]="usuario.dni" required autofocus/>
                            <small class="p-error" *ngIf="submitted && !usuario.dni">El DNI es requerido!</small>
                        </div>
                        <div class="p-field">
                            <label for="nombre">Nombre</label>
                            <input type="text" pInputText id="nombre" [(ngModel)]="usuario.nombre" required autofocus />
                            <small class="p-error" *ngIf="submitted && !usuario.nombre">El Nombre es requerido!</small>
                        </div>
                        <div class="p-field">
                            <label for="apellido">Apellido</label>
                            <input type="text" pInputText id="apellido" [(ngModel)]="usuario.apellido" required autofocus />
                            <small class="p-error" *ngIf="submitted && !usuario.apellido">El Apellido es requerido!</small>
                        </div>
                        <div class="p-field">
                            <label for="correo">Email</label>
                            <input type="text" pInputText id="correo" [(ngModel)]="usuario.correo" required autofocus />
                            <small class="p-error" *ngIf="submitted && !usuario.correo">El Email es requerido!</small>
                        </div>
                        <div class="p-field">
                            <label for="clave">Clave</label>
                            <input type="text" pInputText id="clave" [(ngModel)]="usuario.clave" required autofocus />
                            <small class="p-error" *ngIf="submitted && !usuario.clave">La Clave es requerida!</small>
                        </div>
                        <p-dropdown [options]="roles" [(ngModel)]="usuario.role" optionLabel="role_name" optionValue="code"></p-dropdown>
                        <!-- <div class="p-field">
                            <label for="role">Role</label>
                            <input type="number" id="role" [(ngModel)]="usuario.role" required autofocus />
                            <small class="p-error" *ngIf="submitted && !usuario.role">El Role es requerido!</small>
                        </div> -->
                        <p-dropdown [options]="destinos" [(ngModel)]="usuario.destino_id" optionLabel="destino" optionValue="id_destino" [virtualScroll]="true"></p-dropdown>
                        <!-- <div class="p-field">
                            <label for="destino">Destino</label>
                            <input type="number" pInputText id="destino" [(ngModel)]="usuario.destino_id" required autofocus />
                            <small class="p-error" *ngIf="submitted && !usuario.destino_id">El Role es requerido!</small>
                        </div> -->
                        <div class="p-field">
                            <label for="img">Imagen</label>
                            <input type="text" pInputText id="img" [(ngModel)]="usuario.img" required autofocus />
                            <!-- <small class="p-error" *ngIf="submitted && !usuario.img">La Imagen es requerido!</small> -->
                        </div>


                        <!-- <div class="p-formgrid p-grid">
                            <div class="p-field p-col">
                                <label for="price">Price</label>
                                <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                            </div>
                            <div class="p-field p-col">
                                <label for="quantity">Quantity</label>
                                <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
                            </div>
                        </div> -->

                        <!-- <div class="p-field">
                            <label for="inventoryStatus">Inventory Status</label>
                            <p-dropdown [(ngModel)]="product.inventoryStatus" inputId="inventoryStatus" [options]="statuses" placeholder="Select">
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div> -->

                        <!-- <div class="p-field">
                            <label class="p-mb-3">Category</label>
                            <div class="p-formgrid p-grid">
                                <div class="p-field-radiobutton p-col-6">
                                    <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="product.category"></p-radioButton>
                                    <label for="category1">Accessories</label>
                                </div>
                                <div class="p-field-radiobutton p-col-6">
                                    <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="product.category"></p-radioButton>
                                    <label for="category2">Clothing</label>
                                </div>
                                <div class="p-field-radiobutton p-col-6">
                                    <p-radioButton id="category3" name="category" value="Electronics" [(ngModel)]="product.category"></p-radioButton>
                                    <label for="category3">Electronics</label>
                                </div>
                                <div class="p-field-radiobutton p-col-6">
                                    <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="product.category"></p-radioButton>
                                    <label for="category4">Fitness</label>
                                </div>
                            </div>
                        </div> -->


                    </ng-template>

                    <ng-template pTemplate="footer">
                        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
                    </ng-template>
                </p-dialog>



            </div>
        </div>
    </div>
</div>