<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">TABLA DE MANTENIMIENTO DE USUARIOS</h3>
            </div>
            <div class="card-body">
                <!-- <p-toast></p-toast> -->
                <div class="card">
                    <p-toolbar styleClass="p-mb-4">
                        <ng-template pTemplate="left">
                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
                            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedUsuarios()" [disabled]="!selectedUsuarios || !selectedUsuarios.length"></button>
                        </ng-template>

                        <ng-template pTemplate="right">
                            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
                            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
                        </ng-template>
                    </p-toolbar>

                    <p-table #dt [value]="usuarios" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" [(selection)]="selectedUsuarios" [rowHover]="true" dataKey="id_usuario" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [showCurrentPageReport]="true">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                <h5 class="p-m-0">Tabla de Manejo de Usuarios</h5>
                                <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <!-- <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." /> -->
                        </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th>Image</th>
                                <th pSortableColumn="id">ID
                                    <p-sortIcon field="id"></p-sortIcon>
                                </th>
                                <th pSortableColumn="nombre">Nombre
                                    <p-sortIcon field="nombre"></p-sortIcon>
                                </th>
                                <th pSortableColumn="apellido">Apellido
                                    <p-sortIcon field="apellido"></p-sortIcon>
                                </th>
                                <th pSortableColumn="correo">Correo
                                    <p-sortIcon field="correo"></p-sortIcon>
                                </th>
                                <th pSortableColumn="role">Role
                                    <p-sortIcon field="role"></p-sortIcon>
                                </th>
                                <th pSortableColumn="destino">Destino
                                    <p-sortIcon field="destino"></p-sortIcon>
                                </th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-usuario>
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="usuario"></p-tableCheckbox>
                                </td>
                                <!-- <td>{{usuario.img}}</td> -->
                                <td><img [src]="baseUrlImg + usuario.img" [alt]="usuario.img" style="border-radius: 150px;" width="50" class="p-shadow-4" /></td>
                                <td>{{usuario.id_usuario}}</td>
                                <td>{{usuario.nombre}}</td>
                                <td>{{usuario.apellido}}</td>
                                <td>{{usuario.correo}}</td>
                                <td>{{getRole(usuario.role)}}</td>
                                <td>{{usuario.destino.destino}}</td>
                                <!-- <td><span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span></td> -->
                                <td>
                                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(usuario)"></button>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUsuario(usuario)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                En total hay {{total}} usuarios

                            </div>
                        </ng-template>
                    </p-table>
                </div>

                <p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="Datos de Usuario" [modal]="true" styleClass="p-fluid">
                    <ng-template pTemplate="content">
                        <!-- <img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.image" class="product-image" *ngIf="product.image"> -->

                        <div class="p-fluid p-flex-column">
                            <div class="p-field p-grid">
                                <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0" for="dni">DNI</label>
                                <div class="p-col-12 p-md-10">
                                    <input type="number" id="dni" [(ngModel)]="usuario.dni" required autofocus/>
                                    <small class="p-error" *ngIf="submitted && !usuario.dni">El DNI es requerido!</small>
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label class="p-col-2 p-mb-2 p-mb-md-0" for="nombre">Nombre</label>
                                <div class="p-col-12 p-md-10">
                                    <input type="text" pInputText id="nombre" [(ngModel)]="usuario.nombre" required autofocus />
                                    <small class="p-error" *ngIf="submitted && !usuario.nombre">El Nombre es requerido!</small>
                                </div>
                            </div>


                            <div class="p-field p-grid">
                                <label class="p-col-2 p-mb-2 p-mb-md-0" for="apellido">Apellido</label>
                                <div class="p-col-12 p-md-10">
                                    <input type="text" pInputText id="apellido" [(ngModel)]="usuario.apellido" required autofocus />
                                    <small class="p-error" *ngIf="submitted && !usuario.apellido">El Apellido es requerido!</small>
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label class="p-col-2 p-mb-2 p-mb-md-0" for="correo">Email</label>
                                <div class="p-col-12 p-md-10">
                                    <input type="text" pInputText id="correo" [(ngModel)]="usuario.correo" required autofocus />
                                    <small class="p-error" *ngIf="submitted && !usuario.correo">El Email es requerido!</small>
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label class="p-col-2 p-mb-2 p-mb-md-0" for="clave">Clave</label>
                                <div class="p-col-12 p-md-10">
                                    <input type="text" pInputText id="clave" [(ngModel)]="usuario.clave" required autofocus />
                                    <small class="p-error" *ngIf="submitted && !usuario.clave">La Clave es requerida!</small>
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <div class="p-col-12 p-md-10">
                                    <p-dropdown class="p-col-12 p-mb-2 p-mb-md-0" [options]="roles" [(ngModel)]="usuario.role" optionLabel="role_name" optionValue="code" appendTo="body"></p-dropdown>
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <div class="p-col-12 p-md-10">
                                    <p-dropdown class="p-col-12 p-mb-2 p-mb-md-0" [options]="destinos" [(ngModel)]="usuario.destino_id" optionLabel="destino" optionValue="id_destino" [virtualScroll]="true" appendTo="body"></p-dropdown>
                                </div>
                            </div>

                            <div class="p-field p-grid">
                                <label class="p-col-2 p-mb-2 p-mb-md-0" for="img">Imagen</label>
                                <div class="p-col-12 p-md-10">
                                    <input type="text" pInputText id="img" [(ngModel)]="usuario.img" required autofocus />
                                    <!-- <small class="p-error" *ngIf="submitted && !usuario.img">La Imagen es requerido!</small> -->
                                </div>
                            </div>
                        </div>

                        <div class="p-field p-grid">
                            <img class="p-col-12 p-mb-2 p-mb-md-0" *ngIf="this.editando" [src]="baseUrlImg + usuario.img" [alt]="usuario.img" style="border-radius: 50px;" width="100" class="p-shadow-4" />
                            <div class="p-col-12 p-md-10">
                            </div>
                            <div class="p-field p-grid">
                            </div>
                            <!--  class="p-col-12 p-mb-2 p-mb-md-0"<p-fileUpload name="foto" accept="image/*" (uploadHandler)="onSelect($event.currentFiles[0])"></p-fileUpload> -->
                            <div class="p-col-12 p-md-10">
                                <p-fileUpload *ngIf="this.editando" name="foto" [customUpload]="true" [multiple]="true" (uploadHandler)="onUpload($event.files[0])"></p-fileUpload>
                            </div>
                        </div>





                    </ng-template>

                    <ng-template pTemplate="footer">
                        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
                    </ng-template>
                </p-dialog>



            </div>
        </div>
    </div>
</div>