.contenedor {
    width: 90%;
    max-width: 1000px;
    padding: 40px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
}

.primengTable tr {
    background: black;
    color: white;
}

.primengTable th {
    background: black;
    color: white;
}


/*-----Estilos generales de las tarjetas-------------*/

.tarjeta {
    width: 100%;
    max-width: 488px;
    position: relative;
    color: #fff;
    transition: .3s ease all;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    /* backface-visibility: hidden; */
    cursor: pointer;
    z-index: 2;
}

.tarjeta.active {
    transform: rotateY(180deg);
}

.tarjeta>section>div {
    padding: 15px;
    border-radius: 15px;
    min-height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}

.tarjeta>div {
    padding: 15px;
    border-radius: 15px;
    min-height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}


/* .section1 {
    position: relative;
} */

.delantera {
    position: relative;
    width: 100%;
    background: url(../../../assets/img/credencial/credencial-frente.jpg);
    background-size: cover;
}

.delanteraTarjeta {
    position: relative;
    width: 95%;
    height: 95%;
    background: url(../../../assets/img/credencial/tarjeta-frente.jpg);
    background-size: cover;
}

.delantera .grupo {
    color: black;
    font-size: 17px;
    text-transform: uppercase;
}

.personal {
    position: absolute;
    top: 62px;
    left: 130px;
}

.grado {
    position: absolute;
    top: 83px;
    left: 67px;
}

.escalafon {
    position: absolute;
    top: 104px;
    left: 93px;
}

.foto {
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    height: 170px;
    width: 170px;
}

.delantera .flexbox {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.trasera {
    position: relative;
    width: 100%;
    background: url(../../../assets/img/credencial/credencial-dorso.jpg);
    background-size: cover;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
}

.traseraTarjeta {
    position: relative;
    width: 95%;
    height: 95%;
    background: url(../../../assets/img/credencial/tarjeta-dorso.jpg);
    background-size: cover;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
}


/* .trasera .fila-1 {
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    
}

.trasera .fila-2 {
    color: black;
    font-size: 19px;
    text-transform: uppercase;
    top: 50px;
}

.trasera .fila-3 {
    color: black;
    font-size: 19px;
    text-transform: uppercase;
    top: 120px;
} */

.nacionalidad {
    position: absolute;
    width: 110px;
    text-align: center;
    top: 23px;
    left: 7px;
}

.fecha-nac {
    position: absolute;
    width: 85px;
    text-align: center;
    top: 23px;
    left: 150px;
}

.lugar {
    position: absolute;
    width: 150px;
    text-align: center;
    top: 23px;
    left: 260px;
}

.dni {
    position: absolute;
    width: 125px;
    text-align: center;
    top: 73px;
    left: 5px;
}

.grupo-anguineo {
    position: absolute;
    width: 103px;
    text-align: center;
    top: 73px;
    left: 155px;
}

.legajo {
    position: absolute;
    width: 65px;
    text-align: center;
    top: 73px;
    left: 395px;
}

.destino {
    position: absolute;
    top: 124px;
    left: 80px;
}