<!-- <div class="card"> -->
<h5>Página de Edición de Datos</h5>
<p-tabView>
    <p-tabPanel header="Datos Laborales" leftIcon="pi pi-users" tooltip="1972">

        <!-- <div class="row"> -->
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <span class="p-input-icon-left">
                    <i class="pi pi-search" style="width: 20%;"></i>
                    <input type="text" pInputText style="width: 80%;"  placeholder="Search" >         
                </span>
            </div>
            <div class="p-field p-col">
                <label for="lastname1">Lastname</label>
                <input id="lastname1" type="text" pInputText style="width: 100%;">
            </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="firstname1">Firstname</label>
                <input id="firstname1" type="text" pInputText style="width: 100%;">
            </div>
            <div class="p-field p-col">
                <label for="lastname1">Lastname</label>
                <input id="lastname1" type="text" pInputText style="width: 100%;">
            </div>
            <!-- </div> -->
            <!-- <div class="col-6" style="background-color: cadetblue;">
                <input id="firstname" type="text" pInputText style="width: 100%;">
            </div>
            <div class="col-6" style="background-color:black;">SEGUNDO BLOQUE</div> -->
        </div>

        <!-- <form action="">
                <div class="p-fluid p-flex-column">
                    <div class="p-field p-grid">
                        <label class="p-col-2 p-mb-2 pmb-md-0" for="firstname">Firstname</label>
                        <div class="p-col-12 p-mb-10">
                            <input id="firstname" type="text" pInputText>
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label class="p-col-2 p-mb-2 pmb-md-0" for="lastname">Lastname</label>
                        <div class="p-col-12 p-mb-10">
                            <input id="lastname" type="text" pInputText>
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label class="p-col-2 p-mb-2 pmb-md-0" for="address">Address</label>
                        <div class="p-col-12 p-mb-10">
                            <textarea id="address" type="text" rows="4" pInputTextarea></textarea>
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label class="p-col-2 p-mb-2 pmb-md-0" for="city">City</label>
                        <div class="p-col-12 p-mb-10">
                            <input id="city" type="text" pInputText>
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label class="p-col-2 p-mb-2 pmb-md-0" for="state">State</label>
                        <div class="p-col-12 p-mb-10">
                       </div>
                    </div>
                    <div class="p-field p-grid">
                        <label class="p-col-2 p-mb-2 pmb-md-0" for="zip">Zip</label>
                        <div class="p-col-12 p-mb-10">
                            <input id="zip" type="text" pInputText>
                        </div>
                    </div>
                </div>

            </form> -->
        <div class="p-fluid p-formgrid p-grid p-d-flex">
        </div>

    </p-tabPanel>
    <p-tabPanel header="Datos Personales" leftIcon="pi pi-user" rightIcon="pi pi-inbox" tooltip="1974">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
            quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
    </p-tabPanel>
    <p-tabPanel header="Trámites" rightIcon="pi pi-cog" tooltip="1990">
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
            mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
    </p-tabPanel>
</p-tabView>
<!-- </div> -->