<!-- <div class="card"> -->
<h5>Página de Edición de Datos</h5>
<p-tabView>
    <p-tabPanel header="Datos Laborales" leftIcon="pi pi-users" tooltip="1972">


        <form [formGroup]="forma" (click)="submitForm()">

            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col">
                    <span class="p-input-icon-left">
                        <i class="pi pi-pencil" ></i>
                        <input formControlName="apellido_1" type="text" pInputText  placeholder="primer apellido"  [class.is-invalid]="apellido1NoValido">
                    </span>
                    <small *ngIf="apellido1NoValido" class="form-text text-danger">El primer apellido es obligatorio</small>
                </div>
                <div class="p-field p-col">
                    <span class="p-input-icon-left">
                        <i class="pi pi-pencil" ></i>
                        <input formControlName="apellido_2" type="text" pInputText  placeholder="segundo apellido">
                    </span>
                </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col">
                    <span class="p-input-icon-left">
                        <i class="pi pi-pencil" ></i>
                        <input formControlName="nombre_1" type="text" pInputText  placeholder="primer nombre" [class.is-invalid]="nombre1NoValido" >
                    </span>
                    <small *ngIf="nombre1NoValido" class="form-text text-danger">El primer nombre es obligatorio</small>
                </div>
                <div class="p-field p-col">
                    <span class="p-input-icon-left">
                        <i class="pi pi-pencil" ></i>
                        <input formControlName="nombre_2" type="text" pInputText  placeholder="segundo nombre" >
                    </span>
                </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col">
                    <span class="p-input-icon-left">
                            <i class="pi pi-pencil" ></i>
                            <input formControlName="nombre_3" type="text" pInputText  placeholder="tercer nombre" >
                        </span>
                </div>
                <div class="p-field p-col">
                    <span class="p-input-icon-left">
                            <i class="pi pi-wallet" ></i>
                            <input formControlName="dni" type="number" pInputText  placeholder="dni" [class.is-invalid]="dniNoValido">
                        </span>
                    <small *ngIf="dniNoValido" class="form-text text-danger">El dni es obligatorio y debe ser válido</small>
                </div>
            </div>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col">
                    <button pButton type="button" class="p-button-raised">Submit</button>
                </div>
            </div>
        </form>

        <hr>
        <pre>
            Estado del Formulario: {{forma.valid}}
            <br>
            Status: {{forma.status}}
        </pre>
        <pre>
            {{forma.value | json}}
        </pre>

        <!-- <form action="">
                <div class="p-fluid p-flex-column">
                    <div class="p-field p-grid">
                        <label class="p-col-2 p-mb-2 pmb-md-0" for="firstname">Firstname</label>
                        <div class="p-col-12 p-mb-10">
                            <input id="firstname" type="text" pInputText>
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label class="p-col-2 p-mb-2 pmb-md-0" for="lastname">Lastname</label>
                        <div class="p-col-12 p-mb-10">
                            <input id="lastname" type="text" pInputText>
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label class="p-col-2 p-mb-2 pmb-md-0" for="address">Address</label>
                        <div class="p-col-12 p-mb-10">
                            <textarea id="address" type="text" rows="4" pInputTextarea></textarea>
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label class="p-col-2 p-mb-2 pmb-md-0" for="city">City</label>
                        <div class="p-col-12 p-mb-10">
                            <input id="city" type="text" pInputText>
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label class="p-col-2 p-mb-2 pmb-md-0" for="state">State</label>
                        <div class="p-col-12 p-mb-10">
                       </div>
                    </div>
                    <div class="p-field p-grid">
                        <label class="p-col-2 p-mb-2 pmb-md-0" for="zip">Zip</label>
                        <div class="p-col-12 p-mb-10">
                            <input id="zip" type="text" pInputText>
                        </div>
                    </div>
                </div>

            </form> -->
        <div class="p-fluid p-formgrid p-grid p-d-flex">
        </div>

    </p-tabPanel>
    <p-tabPanel header="Datos Personales" leftIcon="pi pi-user" rightIcon="pi pi-inbox" tooltip="1974">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
            quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
    </p-tabPanel>
    <p-tabPanel header="Trámites" rightIcon="pi pi-cog" tooltip="1990">
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
            mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
    </p-tabPanel>
</p-tabView>
<!-- </div> -->