.contenedor {
    width: 90%;
    max-width: 1000px;
    padding: 40px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
}

.primengTable tr {
    background: black;
    color: white;
}

.primengTable th {
    background: black;
    color: white;
}


/*-----Estilos generales de las tarjetas-------------*/

.tarjeta {
    width: 100%;
    max-width: 460px;
    min-width: 295px;
    position: relative;
    color: #fff;
    transition: .3s ease all;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    /* backface-visibility: hidden; */
    cursor: pointer;
    z-index: 2;
}

.tarjeta.active {
    transform: rotateY(180deg);
}

.tarjeta>section>div {
    padding: 15px;
    border-radius: 15px;
    min-height: 295px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}

.tarjeta>div {
    padding: 15px;
    border-radius: 15px;
    min-height: 295px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}


/* .section1 {
    position: relative;
} */

.delantera {
    position: relative;
    width: 100%;
    background: url(../../../assets/img/credencial/credencial-frente.jpg);
    background-size: cover;
}

.delanteraTarjeta {
    /* background: url(../../../assets/img/credencial/tarjeta-frente.jpg); */
    position: relative;
    width: 100%;
    background: url(../../../assets/img/credencial/tarjeta-frente.jpg);
    background-size: 460px 295px;
}

.delantera .grupo {
    color: black;
    font-size: 17px;
    text-transform: uppercase;
}

.delanteraTarjeta .grupo {
    color: black;
    font-size: 17px;
}

.personal {
    position: absolute;
    top: 58px;
    left: 122px;
}

.grado {
    position: absolute;
    top: 78px;
    left: 62px;
}

.escalafon {
    position: absolute;
    top: 95px;
    left: 88px;
}

.foto {
    border-radius: 10px;
    position: absolute;
    bottom: 13px;
    left: 14px;
    height: 160px;
    width: 160px;
}

.delantera .flexbox {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.trasera {
    position: relative;
    width: 100%;
    background: url(../../../assets/img/credencial/credencial-dorso.jpg);
    background-size: cover;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
}

.traseraTarjeta {
    position: relative;
    width: 100%;
    background: url(../../../assets/img/credencial/tarjeta-dorso.jpg);
    background-size: cover;
    color: black;
    font-size: 15px;
    background-size: 460px 295px;
}

.nacionalidad {
    position: absolute;
    width: 110px;
    text-align: center;
    top: 21px;
    left: 7px;
}

.fecha-nac {
    position: absolute;
    width: 85px;
    text-align: center;
    top: 21px;
    left: 140px;
}

.lugar {
    position: absolute;
    width: 150px;
    text-align: center;
    top: 21px;
    left: 255px;
}

.dni {
    position: absolute;
    width: 125px;
    text-align: center;
    top: 65px;
    left: 5px;
}

.grupo-anguineo {
    position: absolute;
    width: 103px;
    text-align: center;
    top: 65px;
    left: 148px;
}

.legajo {
    position: absolute;
    width: 65px;
    text-align: center;
    top: 65px;
    left: 370px;
}

.destino {
    position: absolute;
    top: 113px;
    left: 80px;
}