<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{nombreCompleto}}</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
    <i class="fas fa-minus"></i>
  </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
    <i class="fas fa-times"></i>
  </button>
        </div>
    </div>
    <div class="card-body">

        <!-- <div class="card"> -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-tabs">
                    <div class="card-header p-0 pt-1">
                        <ul class="nav nav-tabs" id="custom-tabs-five-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="custom-tabs-five-overlay-tab" data-toggle="pill" href="#custom-tabs-five-overlay" role="tab" aria-controls="custom-tabs-five-overlay" aria-selected="true">Datos Laborales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="custom-tabs-five-overlay-dark-tab" data-toggle="pill" href="#custom-tabs-five-overlay-dark" role="tab" aria-controls="custom-tabs-five-overlay-dark" aria-selected="false">Datos Personales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="custom-tabs-five-normal-tab" data-toggle="pill" href="#custom-tabs-five-normal" role="tab" aria-controls="custom-tabs-five-normal" aria-selected="false">Trámites Varios</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="custom-tabs-five-tabContent">
                            <div class="tab-pane fade show active" id="custom-tabs-five-overlay" role="tabpanel" aria-labelledby="custom-tabs-five-overlay-tab">
                                <div class="overlay-wrapper">
                                    <!-- <div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i>
                                <div class="text-bold pt-2">Loading...</div>
                            </div> -->

                                    <div class="content">
                                        <!-- <div class="content-wrapper"> -->
                                        <!-- Content Header (Page header) -->
                                        <!-- <section class="content-header">
                                            <div class="container-fluid">
                                                <div class="row mb-2">
                                                    <div class="col-sm-6">
                                                        <h1>{{nombreCompleto}}</h1>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <ol class="breadcrumb float-sm-right">
                                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                                            <li class="breadcrumb-item active">E-commerce</li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                        </section> -->
                                        <!-- /.container-fluid -->

                                        <!-- Main content -->
                                        <section class="content">

                                            <!-- Default box -->
                                            <div class="card card-solid">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-4">
                                                            <div class="col-12">
                                                                <img src="../../../assets/img/avatar.png" class="product-image" alt="Product Image">
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-8">
                                                            <form [formGroup]="forma" (click)="submitForm()">
                                                                <div class="card card-warning">
                                                                    <div class="card-header">
                                                                        <h3 class="card-title">Edición de Datos</h3>
                                                                    </div>
                                                                    <!-- /.card-header -->
                                                                    <div class="card-body">
                                                                        <form [formGroup]="forma">
                                                                            <div class="row">
                                                                                <div class="col-sm-6">
                                                                                    <div class="form-group">
                                                                                        <label>Primer Apellido</label>
                                                                                        <input formControlName="apellido_1" type="text" class="form-control" placeholder="primer apellido" [class.is-invalid]="apellido1NoValido">
                                                                                    </div>
                                                                                    <small *ngIf="apellido1NoValido" class="form-text text-danger">El primer apellido es obligatorio</small>
                                                                                </div>
                                                                                <div class="col-sm-6">
                                                                                    <div class="form-group">
                                                                                        <label>Segundo Apellido</label>
                                                                                        <input formControlName="apellido_2" type="text" class="form-control" placeholder="segundo apellido">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-6">
                                                                                    <div class="form-group">
                                                                                        <label>Primer Nombre</label>
                                                                                        <input formControlName="nombre_1" type="text" class="form-control" placeholder="primer nombre" [class.is-invalid]="nombre1NoValido">
                                                                                    </div>
                                                                                    <small *ngIf="nombre1NoValido" class="form-text text-danger">El primer nombre es obligatorio</small>
                                                                                </div>
                                                                                <div class="col-sm-6">
                                                                                    <div class="form-group">
                                                                                        <label>Segundo Nombre</label>
                                                                                        <input formControlName="nombre_2" type="text" class="form-control" placeholder="segundo nombre">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-6">
                                                                                    <div class="form-group">
                                                                                        <label>Tercer Nombre</label>
                                                                                        <input formControlName="nombre_3" type="text" class="form-control" placeholder="tercer nombre">
                                                                                    </div>

                                                                                </div>
                                                                                <div class="col-sm-6">
                                                                                    <div class="form-group">
                                                                                        <label>Legajo</label>
                                                                                        <input formControlName="legajo" type="text" class="form-control" placeholder="legajo" [class.is-invalid]="legajoNoValido">
                                                                                    </div>
                                                                                    <small *ngIf="legajoNoValido" class="form-text text-danger">El legajo es obligatorio</small>
                                                                                </div>
                                                                            </div>

                                                                            <div class="row">
                                                                                <div class="col-sm-6">
                                                                                    <!-- select -->
                                                                                    <div class="form-group">
                                                                                        <label>Destino</label>
                                                                                        <select formControlName="destino_id" class="form-control" [ngModel]="dataEdit.destino_id"> 
                                                                                            <option *ngFor="let destino of destinos" [value]="destino.id_destino" >{{destino.destino}}</option>
                                                                                        </select>
                                                                                        <!-- <p-dropdown class="form-control" [options]="destinos" formControlName="destino_id" optionLabel="destino" optionValue="id_destino" [virtualScroll]="true" appendTo="body"></p-dropdown> -->
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-6">
                                                                                    <div class="form-group">
                                                                                        <label>Select Disabled</label>
                                                                                        <select class="form-control" disabled>
                                                                                                <option>option 1</option>
                                                                                                <option>option 2</option>
                                                                                                <option>option 3</option>
                                                                                                <option>option 4</option>
                                                                                                <option>option 5</option>
                                                                                            </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>


                                                                            <hr>
                                                                            <pre>
                                                                                Estado del Formulario: {{forma.valid}}
                                                                                <br>
                                                                                Status: {{forma.status}}
                                                                            </pre>
                                                                            <pre>
                                                                                {{forma.value | json}}
                                                                            </pre>






                                                                            <!-- input states -->
                                                                            <div class="form-group">
                                                                                <label class="col-form-label" for="inputSuccess"><i class="fas fa-check"></i> Input with
                                                                success</label>
                                                                                <input type="text" class="form-control is-valid" id="inputSuccess" placeholder="Enter ...">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-form-label" for="inputWarning"><i class="far fa-bell"></i> Input with
                                                                warning</label>
                                                                                <input type="text" class="form-control is-warning" id="inputWarning" placeholder="Enter ...">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-form-label" for="inputError"><i class="far fa-times-circle"></i> Input with
                                                                error</label>
                                                                                <input type="text" class="form-control is-invalid" id="inputError" placeholder="Enter ...">
                                                                            </div>

                                                                            <div class="row">
                                                                                <div class="col-sm-6">
                                                                                    <!-- checkbox -->
                                                                                    <div class="form-group">
                                                                                        <div class="form-check">
                                                                                            <input class="form-check-input" type="checkbox">
                                                                                            <label class="form-check-label">Checkbox</label>
                                                                                        </div>
                                                                                        <div class="form-check">
                                                                                            <input class="form-check-input" type="checkbox" checked>
                                                                                            <label class="form-check-label">Checkbox checked</label>
                                                                                        </div>
                                                                                        <div class="form-check">
                                                                                            <input class="form-check-input" type="checkbox" disabled>
                                                                                            <label class="form-check-label">Checkbox disabled</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-6">
                                                                                    <!-- radio -->
                                                                                    <div class="form-group">
                                                                                        <div class="form-check">
                                                                                            <input class="form-check-input" type="radio" name="radio1">
                                                                                            <label class="form-check-label">Radio</label>
                                                                                        </div>
                                                                                        <div class="form-check">
                                                                                            <input class="form-check-input" type="radio" name="radio1" checked>
                                                                                            <label class="form-check-label">Radio checked</label>
                                                                                        </div>
                                                                                        <div class="form-check">
                                                                                            <input class="form-check-input" type="radio" disabled>
                                                                                            <label class="form-check-label">Radio disabled</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="row">
                                                                                <div class="col-sm-6">
                                                                                    <!-- select -->
                                                                                    <div class="form-group">
                                                                                        <label>Select</label>
                                                                                        <select class="form-control">
                                                                    <option>option 1</option>
                                                                    <option>option 2</option>
                                                                    <option>option 3</option>
                                                                    <option>option 4</option>
                                                                    <option>option 5</option>
                                                                  </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-6">
                                                                                    <div class="form-group">
                                                                                        <label>Select Disabled</label>
                                                                                        <select class="form-control" disabled>
                                                                    <option>option 1</option>
                                                                    <option>option 2</option>
                                                                    <option>option 3</option>
                                                                    <option>option 4</option>
                                                                    <option>option 5</option>
                                                                  </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="row">
                                                                                <div class="col-sm-6">
                                                                                    <!-- Select multiple-->
                                                                                    <div class="form-group">
                                                                                        <label>Select Multiple</label>
                                                                                        <select multiple class="form-control">
                                                                    <option>option 1</option>
                                                                    <option>option 2</option>
                                                                    <option>option 3</option>
                                                                    <option>option 4</option>
                                                                    <option>option 5</option>
                                                                  </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-6">
                                                                                    <div class="form-group">
                                                                                        <label>Select Multiple Disabled</label>
                                                                                        <select multiple class="form-control" disabled>
                                                                    <option>option 1</option>
                                                                    <option>option 2</option>
                                                                    <option>option 3</option>
                                                                    <option>option 4</option>
                                                                    <option>option 5</option>
                                                                  </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                    <!-- /.card-body -->
                                                                    <div class="card-footer">
                                                                        <button style="width: 100%; text-align: center;" type="submit" class="btn btn-primary">Guardar</button>
                                                                    </div>
                                                                </div>
                                                            </form>

                                                            <!-- <form [formGroup]="forma" (click)="submitForm()">

                                                                <div class="p-fluid p-formgrid p-grid">
                                                                    <div class="p-field p-col">
                                                                        <span class="p-input-icon-left">
                                                                    <i class="pi pi-pencil" ></i>
                                                                    <input formControlName="apellido_1" type="text" pInputText  placeholder="primer apellido"  [class.is-invalid]="apellido1NoValido">
                                                                </span>
                                                                        <small *ngIf="apellido1NoValido" class="form-text text-danger">El primer apellido es obligatorio</small>
                                                                    </div>
                                                                    <div class="p-field p-col">
                                                                        <span class="p-input-icon-left">
                                                                    <i class="pi pi-pencil" ></i>
                                                                    <input formControlName="apellido_2" type="text" pInputText  placeholder="segundo apellido">
                                                                </span>
                                                                    </div>
                                                                </div>

                                                                <div class="p-fluid p-formgrid p-grid">
                                                                    <div class="p-field p-col">
                                                                        <span class="p-input-icon-left">
                                                                    <i class="pi pi-pencil" ></i>
                                                                    <input formControlName="nombre_1" type="text" pInputText  placeholder="primer nombre" [class.is-invalid]="nombre1NoValido" >
                                                                </span>
                                                                        <small *ngIf="nombre1NoValido" class="form-text text-danger">El primer nombre es obligatorio</small>
                                                                    </div>
                                                                    <div class="p-field p-col">
                                                                        <span class="p-input-icon-left">
                                                                    <i class="pi pi-pencil" ></i>
                                                                    <input formControlName="nombre_2" type="text" pInputText  placeholder="segundo nombre" >
                                                                </span>
                                                                    </div>
                                                                </div>

                                                                <div class="p-fluid p-formgrid p-grid">
                                                                    <div class="p-field p-col">
                                                                        <span class="p-input-icon-left">
                                                                        <i class="pi pi-pencil" ></i>
                                                                        <input formControlName="nombre_3" type="text" pInputText  placeholder="tercer nombre" >
                                                                    </span>
                                                                    </div>
                                                                    <div class="p-field p-col">
                                                                        <span class="p-input-icon-left">
                                                                        <i class="pi pi-wallet" ></i>
                                                                        <input formControlName="dni" type="number" pInputText  placeholder="dni" [class.is-invalid]="dniNoValido">
                                                                    </span>
                                                                        <small *ngIf="dniNoValido" class="form-text text-danger">El dni es obligatorio y debe ser válido</small>
                                                                    </div>
                                                                </div>
                                                                <div class="p-fluid p-formgrid p-grid">
                                                                    <div class="p-field p-col">
                                                                        <button pButton type="button" label="Guardar" style="text-align: center;">
                                                                   
                                                                </button>
                                                                    </div>
                                                                </div>
                                                            </form> -->

                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <nav class="w-100">
                                                            <div class="nav nav-tabs" id="product-tab" role="tablist">
                                                                <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Description</a>
                                                                <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="false">Comments</a>
                                                                <a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab" aria-controls="product-rating" aria-selected="false">Rating</a>
                                                            </div>
                                                        </nav>
                                                        <div class="tab-content p-3" id="nav-tabContent">
                                                            <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae condimentum erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed posuere, purus
                                                                at efficitur hendrerit, augue elit lacinia arcu, a eleifend sem elit et nunc. Sed rutrum vestibulum est, sit amet cursus dolor fermentum vel. Suspendisse mi nibh, congue et ante et, commodo
                                                                mattis lacus. Duis varius finibus purus sed venenatis. Vivamus varius metus quam, id dapibus velit mattis eu. Praesent et semper risus. Vestibulum erat erat, condimentum at elit at, bibendum
                                                                placerat orci. Nullam gravida velit mauris, in pellentesque urna pellentesque viverra. Nullam non pellentesque justo, et ultricies neque. Praesent vel metus rutrum, tempus erat a, rutrum
                                                                ante. Quisque interdum efficitur nunc vitae consectetur. Suspendisse venenatis, tortor non convallis interdum, urna mi molestie eros, vel tempor justo lacus ac justo. Fusce id enim a erat
                                                                fringilla sollicitudin ultrices vel metus. </div>
                                                            <div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab"> Vivamus rhoncus nisl sed venenatis luctus. Sed condimentum risus ut tortor feugiat laoreet. Suspendisse potenti. Donec et finibus sem, ut commodo lectus. Cras eget neque dignissim, placerat orci
                                                                interdum, venenatis odio. Nulla turpis elit, consequat eu eros ac, consectetur fringilla urna. Duis gravida ex pulvinar mauris ornare, eget porttitor enim vulputate. Mauris hendrerit, massa
                                                                nec aliquam cursus, ex elit euismod lorem, vehicula rhoncus nisl dui sit amet eros. Nulla turpis lorem, dignissim a sapien eget, ultrices venenatis dolor. Curabitur vel turpis at magna elementum
                                                                hendrerit vel id dui. Curabitur a ex ullamcorper, ornare velit vel, tincidunt ipsum. </div>
                                                            <div class="tab-pane fade" id="product-rating" role="tabpanel" aria-labelledby="product-rating-tab"> Cras ut ipsum ornare, aliquam ipsum non, posuere elit. In hac habitasse platea dictumst. Aenean elementum leo augue, id fermentum risus efficitur vel. Nulla iaculis malesuada scelerisque. Praesent
                                                                vel ipsum felis. Ut molestie, purus aliquam placerat sollicitudin, mi ligula euismod neque, non bibendum nibh neque et erat. Etiam dignissim aliquam ligula, aliquet feugiat nibh rhoncus ut.
                                                                Aliquam efficitur lacinia lacinia. Morbi ac molestie lectus, vitae hendrerit nisl. Nullam metus odio, malesuada in vehicula at, consectetur nec justo. Quisque suscipit odio velit, at accumsan
                                                                urna vestibulum a. Proin dictum, urna ut varius consectetur, sapien justo porta lectus, at mollis nisi orci et nulla. Donec pellentesque tortor vel nisl commodo ullamcorper. Donec varius
                                                                massa at semper posuere. Integer finibus orci vitae vehicula placerat. </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                            <!-- /.card -->

                                        </section>
                                        <!-- /.content -->
                                    </div>





                                </div>
                            </div>
                            <div class="tab-pane fade" id="custom-tabs-five-overlay-dark" role="tabpanel" aria-labelledby="custom-tabs-five-overlay-dark-tab">
                                <div class="overlay-wrapper">
                                    <!-- <div class="overlay dark"><i class="fas fa-3x fa-sync-alt fa-spin"></i>
                                <div class="text-bold pt-2">Loading...</div>
                            </div> -->
                                    <form>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Password</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputFile">File input</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="exampleInputFile">
                                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">Upload</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->

                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="custom-tabs-five-normal" role="tabpanel" aria-labelledby="custom-tabs-five-normal-tab">
                                <form action="">
                                    <div class="card card-warning">
                                        <div class="card-header">
                                            <h3 class="card-title">General Elements</h3>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <!-- text input -->
                                                        <div class="form-group">
                                                            <label>Text</label>
                                                            <input type="text" class="form-control" placeholder="Enter ...">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Text Disabled</label>
                                                            <input type="text" class="form-control" placeholder="Enter ..." disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <!-- textarea -->
                                                        <div class="form-group">
                                                            <label>Textarea</label>
                                                            <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Textarea Disabled</label>
                                                            <textarea class="form-control" rows="3" placeholder="Enter ..." disabled></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- input states -->
                                                <div class="form-group">
                                                    <label class="col-form-label" for="inputSuccess"><i class="fas fa-check"></i> Input with
                                    success</label>
                                                    <input type="text" class="form-control is-valid" id="inputSuccess" placeholder="Enter ...">
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-form-label" for="inputWarning"><i class="far fa-bell"></i> Input with
                                    warning</label>
                                                    <input type="text" class="form-control is-warning" id="inputWarning" placeholder="Enter ...">
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-form-label" for="inputError"><i class="far fa-times-circle"></i> Input with
                                    error</label>
                                                    <input type="text" class="form-control is-invalid" id="inputError" placeholder="Enter ...">
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <!-- checkbox -->
                                                        <div class="form-group">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox">
                                                                <label class="form-check-label">Checkbox</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" checked>
                                                                <label class="form-check-label">Checkbox checked</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" disabled>
                                                                <label class="form-check-label">Checkbox disabled</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <!-- radio -->
                                                        <div class="form-group">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="radio1">
                                                                <label class="form-check-label">Radio</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="radio1" checked>
                                                                <label class="form-check-label">Radio checked</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" disabled>
                                                                <label class="form-check-label">Radio disabled</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <!-- select -->
                                                        <div class="form-group">
                                                            <label>Select</label>
                                                            <select class="form-control">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                        <option>option 5</option>
                                      </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Select Disabled</label>
                                                            <select class="form-control" disabled>
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                        <option>option 5</option>
                                      </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <!-- Select multiple-->
                                                        <div class="form-group">
                                                            <label>Select Multiple</label>
                                                            <select multiple class="form-control">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                        <option>option 5</option>
                                      </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Select Multiple Disabled</label>
                                                            <select multiple class="form-control" disabled>
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                        <option>option 5</option>
                                      </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- </div> -->



        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            Footer
        </div>
        <!-- /.card-footer-->
    </div>