<div class="card">
    <div class="card-header">
        <h3 class="card-title">DIVISION LEGAJOS</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
    <i class="fas fa-minus"></i>
  </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
    <i class="fas fa-times"></i>
  </button>
        </div>
    </div>
    <div class="card-body">

        <!-- <div class="card"> -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary ">
                    <div class="card-header">
                        <h3 class="card-title">Agregar un nuevo Personal</h3>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="forma" (ngSubmit)="submitForm()">

                            <!-- Card datos laborales -->
                            <div class="card card-warning">
                                <div class="card-header">
                                    <h3 class="card-title">Datos Laborales</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">

                                    <div id="edicion-form-print">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Primer Apellido</label>
                                                    <input formControlName="apellido_1" type="text" class="form-control" placeholder="primer apellido" [class.is-invalid]="apellido1NoValido">
                                                    <small *ngIf="apellido1NoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.apellido_1" >
                                                            <div  *ngIf="forma.get('apellido_1')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>

                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Segundo Apellido</label>
                                                    <input formControlName="apellido_2" type="text" class="form-control" placeholder="segundo apellido" [class.is-invalid]="apellido2NoValido">
                                                    <small *ngIf="apellido2NoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.apellido_2" >
                                                            <div  *ngIf="forma.get('apellido_2')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Primer Nombre</label>
                                                    <input formControlName="nombre_1" type="text" class="form-control" placeholder="primer nombre" [class.is-invalid]="nombre1NoValido">
                                                    <small *ngIf="nombre1NoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.nombre_1" >
                                                            <div  *ngIf="forma.get('nombre_1')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>

                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Segundo Nombre</label>
                                                    <input formControlName="nombre_2" type="text" class="form-control" placeholder="segundo nombre" [class.is-invalid]="nombre2NoValido">
                                                    <small *ngIf="nombre2NoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.nombre_2" >
                                                            <div  *ngIf="forma.get('nombre_2')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Tercer Nombre</label>
                                                    <input formControlName="nombre_3" type="text" class="form-control" placeholder="tercer nombre" [class.is-invalid]="nombre3NoValido">
                                                    <small *ngIf="nombre3NoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.nombre_3" >
                                                            <div  *ngIf="forma.get('nombre_3')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>

                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Legajo</label>
                                                    <input formControlName="legajo" type="text" class="form-control" placeholder="legajo" [class.is-invalid]="legajoNoValido">
                                                    <small *ngIf="legajoNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.legajo" >
                                                            <div  *ngIf="forma.get('legajo')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <!-- select -->
                                                <div class="form-group">
                                                    <label>Destino</label>
                                                    <!-- <select *ngIf="administrador" formControlName="destino_id" class="form-control" [ngModel]="dataEdit.destino_id" (change)=" onChangeDestino()">  -->
                                                    <select *ngIf="administrador" formControlName="destino_id" class="form-control" (change)=" onChangeDestino()" [class.is-invalid]="destinoNoValido"> 
                                                          <option *ngFor="let destino of destinos" [value]="destino.id_destino" >{{destino.destino}}</option>
                                                    </select>
                                                    <input *ngIf="!administrador" type="text" class="form-control" [placeholder]="destino_txt" disabled>
                                                    <small *ngIf="destinoNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.destino_id" >
                                                            <div  *ngIf="forma.get('destino_id')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>

                                                    <!-- <p-dropdown class="form-control" [options]="destinos" formControlName="destino_id" optionLabel="destino" optionValue="id_destino" [virtualScroll]="true" appendTo="body"></p-dropdown> -->
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Departamento</label>
                                                    <select formControlName="departamento_id" class="form-control" (change)=" onChangeDepartamento()" [class.is-invalid]="departamentoNoValido"> 
                                                        <option *ngFor="let departamento of departamentos" [value]="departamento.id_departamento" >{{departamento.departamento}}</option>
                                                  </select>
                                                    <small *ngIf="departamentoNoValido" class="form-text text-danger">
                                                    <div *ngFor="let validation of user_validation_messages.departamento_id" >
                                                        <div  *ngIf="forma.get('departamento_id')?.hasError(validation.type)">
                                                            {{validation.message}}
                                                        </div>
                                                    </div>
                                                </small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <!-- select -->
                                                <div class="form-group">
                                                    <label>Divisiones</label>
                                                    <select formControlName="division_id" class="form-control" (change)=" onChangeDivision()" [class.is-invalid]="divisionNoValido"> 
                                                          <option *ngFor="let division of divisiones" [value]="division.id_division" >{{division.division}}</option>
                                                    </select>
                                                    <small *ngIf="divisionNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.division_id" >
                                                            <div  *ngIf="forma.get('division_id')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Sectores</label>
                                                    <select formControlName="sector_id" class="form-control" [class.is-invalid]="sectorNoValido"> 
                                                        <option *ngFor="let sector of sectores" [value]="sector.id_sector" >{{sector.sector}}</option>
                                                    </select>
                                                    <small *ngIf="sectorNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.sector_id" >
                                                            <div  *ngIf="forma.get('sector_id')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <!-- select -->
                                                <div class="form-group">
                                                    <label>Funciones</label>
                                                    <input type="text" class="form-control" formControlName="funcion" placeholder="funciones asignadas" [class.is-invalid]="funcionNoValido">
                                                    <small *ngIf="funcionNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.funcion" >
                                                            <div  *ngIf="forma.get('funcion')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Sección de Guardia</label>
                                                    <select formControlName="seccion_guardia_id" class="form-control" [class.is-invalid]="seccionGuardiaNoValido"> 
                                                        <option *ngFor="let guardia of secciones_guardia" [value]="guardia.id_seccion" >{{guardia.seccion}}</option>
                                                    </select>
                                                    <small *ngIf="seccionGuardiaNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.seccion_guardia_id" >
                                                            <div  *ngIf="forma.get('seccion_guardia_id')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <!-- select -->
                                                <div class="form-group">
                                                    <label>Escalafón</label>
                                                    <select formControlName="escalafon_id" class="form-control" [class.is-invalid]="escalafonNoValido"> 
                                                        <option *ngFor="let escalafon of escalafones" [value]="escalafon.id_escalafon" >{{escalafon.escalafon}}</option> 
                                                    </select>
                                                    <small *ngIf="escalafonNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.escalafon_id" >
                                                            <div  *ngIf="forma.get('escalafon_id')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Escala Jerárquica</label>
                                                    <select formControlName="escala_jerarquica_id" class="form-control" (change)=" onChangeEscala()" [class.is-invalid]="escalaJerarquicaNoValido"> 
                                                        <option *ngFor="let escala of escalas" [value]="escala.id_escala_jerarquica">{{escala.escala_jerarquica}}</option> 
                                                    </select>
                                                    <small *ngIf="escalaJerarquicaNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.escala_jerarquica_id" >
                                                            <div  *ngIf="forma.get('escala_jerarquica_id')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <!-- select -->
                                                <div class="form-group">
                                                    <label>Grado</label>
                                                    <select formControlName="grado_id" class="form-control" [class.is-invalid]="gradoNoValido"> 
                                                        <option></option>
                                                            <option *ngFor="let grado of grados" [value]="grado.id_grado" >{{grado.grado}}</option> 
                                                    </select>
                                                    <small *ngIf="gradoNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.grado_id" >
                                                            <div  *ngIf="forma.get('grado_id')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="datebirth">Ultimo Ascenso:</label>
                                                    <input type="text" bsDatepicker [bsConfig]=bsDatePickerConfig (bsValueChange)="onDateChange($event)" id="datebirth" class="form-control" formControlName="ultimo_ascenso">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Card datos filiatorios -->
                                <div class="card card-warning">
                                    <!-- /.card-header -->
                                    <div class="card-header">
                                        <h3 class="card-title">Datos Filiatorios</h3>
                                    </div>
                                    <!-- /.fin card-header -->

                                    <!-- /.card-body -->
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>DNI</label>
                                                    <input formControlName="dni" type="text" class="form-control" placeholder="dni" [class.is-invalid]="dniNoValido">
                                                    <small *ngIf="dniNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.dni" >
                                                            <div  *ngIf="forma.get('dni')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>                                                                
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Cuil</label>
                                                    <input formControlName="cuil" type="text" class="form-control" placeholder="cuil" [class.is-invalid]="cuilNoValido">
                                                    <small *ngIf="cuilNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.cuil" >
                                                            <div  *ngIf="forma.get('cuil')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>                                                                                                                              
                                                    </small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Fecha Nacimiento</label>
                                                    <input type="text" bsDatepicker [bsConfig]=bsDatePickerConfig id="datebirth2" class="form-control" formControlName="fecha_nacimiento">
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Fecha Ingreso</label>
                                                    <!-- <input formControlName="fecha_ingreso" type="text" class="form-control" placeholder="fecha ingreso" [class.is-invalid]="nombre1NoValido"> -->
                                                    <input type="text" bsDatepicker [bsConfig]=bsDatePickerConfig id="fechaingreso" class="form-control" formControlName="fecha_ingreso">

                                                </div>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Sexo</label>
                                                    <select formControlName="sexo_id" class="form-control" [class.is-invalid]="sexoNoValido"> 
                                                        <option *ngFor="let sexo of sexos" [value]="sexo.id_sexo" >{{sexo.sexo}}</option> 
                                                    </select>
                                                    <small *ngIf="sexoNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.sexo_id" >
                                                            <div  *ngIf="forma.get('sexo_id')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Estado Civil</label>
                                                    <select formControlName="estado_civil_id" class="form-control" [class.is-invalid]="estadoCivilNoValido"> 
                                                            <option *ngFor="let estado_civil of estados_civil" [value]="estado_civil.id_estado_civil">{{estado_civil.estado_civil}}</option> 
                                                    </select>
                                                    <small *ngIf="estadoCivilNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.estado_civil_id" >
                                                            <div  *ngIf="forma.get('estado_civil_id')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Nacionalidad</label>
                                                    <input formControlName="nacionalidad" type="text" class="form-control" placeholder="nacionalidad" [class.is-invalid]="nacionalidadNoValido">
                                                    <small *ngIf="nacionalidadNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.nacionalidad" >
                                                            <div  *ngIf="forma.get('nacionalidad')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Domicilio</label>
                                                    <input formControlName="domicilio" type="text" class="form-control" placeholder="domicilio" [class.is-invalid]="domicilioNoValido">
                                                    <small *ngIf="domicilioNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.domicilio" >
                                                            <div  *ngIf="forma.get('domicilio')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Provincia</label>
                                                    <select formControlName="provincia_id" class="form-control" (change)=" onChangeProvincia()" [class.is-invalid]="provinciaNoValido"> 
                                                        <option *ngFor="let provincia of provincias" [value]="provincia.id_provincia">{{provincia.provincia}}</option> 
                                                    </select>
                                                    <small *ngIf="provinciaNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.provincia_id" >
                                                            <div  *ngIf="forma.get('provincia_id')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Departamento Provincial</label>
                                                    <select formControlName="departamento_provincial_id" class="form-control" (change)=" onChangeDepartamentoProvincial()" [class.is-invalid]="departamentoProvincialNoValido"> 
                                                        <option *ngFor="let departamento_provincial of departamentos_provinciales" [value]="departamento_provincial.id_dpto_prov">{{departamento_provincial.departamento_provincial}}</option> 
                                                    </select>
                                                    <small *ngIf="departamentoProvincialNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.departamento_provincial_id" >
                                                            <div  *ngIf="forma.get('departamento_provincial_id')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Municipio</label>
                                                    <select formControlName="municipio_id" class="form-control" (change)=" onChangeMunicipios()" [class.is-invalid]="municipioNoValido"> 
                                                        <option *ngFor="let municipio of municipios" [value]="municipio.id_municipio">{{municipio.municipio}}</option> 
                                                    </select>
                                                    <small *ngIf="municipioNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.municipio_id" >
                                                            <div  *ngIf="forma.get('municipio_id')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Ciudad</label>
                                                    <select formControlName="ciudad_id" class="form-control" [class.is-invalid]="ciudadNoValido"> 
                                                        <option *ngFor="let ciudad of ciudades" [value]="ciudad.id_ciudad">{{ciudad.ciudad}}</option> 
                                                    </select>
                                                    <small *ngIf="ciudadNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.ciudad_id" >
                                                            <div  *ngIf="forma.get('ciudad_id')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Nivel Educativo</label>
                                                    <select formControlName="nivel_educativo_id" class="form-control" [class.is-invalid]="nivelEducativoNoValido"> 
                                                        <option *ngFor="let nivel_educativo of niveles_educativo" [value]="nivel_educativo.id_nivel_educativo">{{nivel_educativo.nivel_educativo}}</option> 
                                                    </select>
                                                    <small *ngIf="nivelEducativoNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.nivel_educativo_id" >
                                                            <div  *ngIf="forma.get('nivel_educativo_id')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Telefonos</label>
                                                    <input formControlName="telefonos" type="text" class="form-control" placeholder="telefonos" [class.is-invalid]="telefonosNoValido">
                                                    <small *ngIf="telefonosNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.telefonos" >
                                                            <div  *ngIf="forma.get('telefonos')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input formControlName="email" type="text" class="form-control" placeholder="email" [class.is-invalid]="emailNoValido">
                                                    <small *ngIf="emailNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.email" >
                                                            <div  *ngIf="forma.get('email')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Situacion</label>
                                                    <select formControlName="situacion_id" class="form-control" [class.is-invalid]="situacionNoValido"> 
                                                        <option *ngFor="let situacion of situaciones" [value]="situacion.id_situacion">{{situacion.situacion}}</option> 
                                                    </select>
                                                    <small *ngIf="situacionNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.situacion_id" >
                                                            <div  *ngIf="forma.get('situacion_id')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Altura</label>
                                                    <input formControlName="altura" type="text" class="form-control" placeholder="altura">
                                                    <small *ngIf="alturaNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.altura" >
                                                            <div  *ngIf="forma.get('altura')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Peso</label>
                                                    <input formControlName="peso" type="text" class="form-control" placeholder="peso">
                                                    <small *ngIf="pesoNoValido" class="form-text text-danger">
                                                        <div *ngFor="let validation of user_validation_messages.peso" >
                                                            <div  *ngIf="forma.get('peso')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-footer">
                                            <button style="width: 100%; text-align: center;" type="submit" class="btn btn-primary" (ngSubmit)="submitForm()">Guardar</button>
                                        </div>
                                        <div class="card-footer">
                                            <button style="width: 100%; text-align: center;" type="button" class="btn btn-danger" (click)="limpiarFormulario()">Cancelar</button>
                                        </div>



                                        <!-- datos pre-->
                                        <!-- <hr>
                                        <pre>
                                                Estado del Formulario: {{forma.valid}}
                                                <br>
                                                Status: {{forma.status}}
                                            </pre>
                                        <pre>
                                                {{forma.value | json}}
                                            </pre> -->
                                        <!-- FIN datos pre-->

                                    </div>
                                    <!-- /.fin card-body -->

                                </div>
                                <!-- Card datos filiatorios -->



                            </div>
                        </form>
                        <!-- </form> -->
                        <!-- fin fin fin -->







                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- </div> -->



    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        Footer
    </div>
    <!-- /.card-footer-->
</div>