<div class="row">
    <div class="col-12">
        <!-- FORMULARIO BUSQUEDA-->
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">Buscar Personal</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">


            </div>
        </div>
        <!-- FORMULARIO BUSQUEDA-->

        <!-- TABLA TRASLADOS-->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tabla de Traslados</h3>
            </div>
            <div class="card-body">
                <div class="card">

                    <form [formGroup]="formaCantTraslados">

                        <div *ngIf="administrador" class="row mt-2">
                            <div class="col-2">
                                <div class="form-group">
                                    <label>Traslados: </label>
                                    <input formControlName="cantidad_traslados" class="form-control" type="text" placeholder="" Disabled>

                                </div>
                            </div>
                            <div class="col-2 ">
                                <div class="p-d-flex mt-4">
                                    <button pButton type="button" label="Nuevo Traslado" class="p-button-success" icon="" iconPos="left" (click)="crearTraslado()"></button>

                                </div>
                            </div>
                        </div>

                    </form>

                    <div *ngIf="cargando" class="card text-center">
                        <p-progressSpinner [style]="{width: '25%', height: '25%'}" strokeWidth="5"></p-progressSpinner>
                    </div>



                    <div *ngIf="!cargando" class="card mt-2">
                        <!-- <p-table #dt id="personal-table" [value]="listaTraslado" [style]="{width:'100%'}" [columns]="colsTablaPersonalExport" [exportFilename]="nombre_archivo" selectionMode="multiple" [(selection)]="selectedPersonal" dataKey="id_personal" [rowHover]="true" [rows]="5"
                            [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" [loading]="loading" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']"
                            [scrollable]="true" scrollHeight="100%" [responsive]="false"> -->
                        <p-table #dt id="traslado-table" [value]="listaTraslado" [style]="{width:'100%'}" [columns]="colsTablaPersonalExport" selectionMode="multiple" dataKey="id_personal" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]"
                            [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']" [scrollable]="true" scrollHeight="100%"
                            [responsive]="false">

                            <!-- <ng-template pTemplate="caption">
                                <div class="p-d-flex">

                                    <button pButton type="button" label="Decargar en Excel" class="p-button-success" icon="pi pi-file-excel" iconPos="left" (click)="exportExcel()"></button>

                                </div> -->

                            <div class="table-header mt-4">



                            </div>
                            <!-- </ng-template> -->-->
                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col style="width:70px">
                                    <col style="width:40px">
                                    <col style="width:100px">
                                    <col style="width:100px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">

                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th></th>
                                    <th style="width: 3rem">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>

                                    <th>
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Vigente
                                        </div>
                                    </th>
                                    <th>
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Conf.
                                        </div>
                                    </th>
                                    <th pSortableColumn="grado.grado">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Grado
                                            <!-- <p-sortIcon field="grado.grado"></p-sortIcon> -->
                                            <p-columnFilter field="personal.grado.grado" matchMode="equals" display="menu" class="p-ml-auto">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-dropdown ngModel="value" [options]="grados" (onChange)="filter($event.value)" placeholder="Any">
                                                        <ng-template let-option pTemplate="item">
                                                            <img [alt]="option.label" src="../../../assets/img/grados/{{option.img_name}}.gif" width="32" style="vertical-align: middle" />
                                                            <span [class]="'customer-badge status-' + option.value"> {{option.label}}</span>
                                                        </ng-template>
                                                    </p-dropdown>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="personal.apellido_1">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Personal
                                            <p-sortIcon field="personal.apellido_1"></p-sortIcon>
                                            <p-columnFilter type="text" field="personal.apellido_1" display="menu" class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </th>



                                    <th pSortableColumn="legajo">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Legajo
                                            <p-sortIcon field="legajo"></p-sortIcon>
                                            <p-columnFilter type="text" field="legajo" display="menu" class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </th>

                                    <th pSortableColumn="destino.destino">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Destino
                                            <p-sortIcon field="destino.destino"></p-sortIcon>
                                            <p-columnFilter field="destino.destino" matchMode="equals" display="menu" class="p-ml-auto">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-dropdown ngModel="value" [options]="destinos" (onChange)="filter($event.value)" placeholder="Any">
                                                        <ng-template let-option pTemplate="item">
                                                            <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                                        </ng-template>
                                                    </p-dropdown>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div>
                                    </th>

                                    <th pSortableColumn="domicilio">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Instrumento
                                            <p-sortIcon field="domicilio.domicilio"></p-sortIcon>
                                            <p-columnFilter type="text" field="domicilio.domicilio" display="menu" class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="provincia.provincia">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Fecha
                                            <p-sortIcon field="provincia.provincia"></p-sortIcon>
                                            <p-columnFilter type="text" field="provincia.provincia" display="menu" class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </th>


                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-traslado>
                                <tr class="p-selectable-row">
                                    <td>
                                        <button class="btn btn-info" (click)="mostrarTraslado(traslado)"><i class="fas fa-check-circle"></i></button>

                                    </td>
                                    <td>
                                        <p-tableCheckbox [value]="traslado"></p-tableCheckbox>
                                    </td>


                                    <td>{{(traslado.vigente==true)?'SI':'NO'}}</td>
                                    <td>{{(traslado.confirmado==true)?'SI':'NO'}}</td>
                                    <td>{{traslado.personal.grado.grado}}</td>
                                    <td>{{traslado.personal.apellido_1}} {{traslado.personal.nombre_1}}</td>


                                    <td>{{traslado.legajo}}</td>
                                    <td>{{(traslado.destino != null)?traslado.destino.destino:"sin destino"}}</td>

                                    <td>{{traslado.instrumento}}</td>
                                    <td>{{traslado.fecha}}</td>


                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="8">No customers found.</td>
                                </tr>
                            </ng-template>


                        </p-table>
                    </div>

                </div>
            </div>
        </div>
        <!-- FIN TABLA TRASLADOS-->
        <hr>
        <pre>
            Estado del Formulario: {{formaTraslados.valid}}
            <br>
            Status: {{formaTraslados.status}}
        </pre>
        <pre>
            {{formaTraslados.value | json}}
        </pre>
        <!-- FIN datos pre-->
    </div>
</div>


<!-- DIALOG FORMULARIO TRASLADO -->
<p-dialog [(visible)]="newTrasladoDialog" [style]="{width: '450px'}" header={{this.tituloFormTraslado}} [closable]="false" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="formaTraslados">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Id Traslado</label>
                        <input formControlName="id_traslado" type="text" placeholder="id traslado" Disabled>

                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-12">
                    <!-- select -->
                    <div class="form-group">
                        <label>Destino</label>
                        <!-- <select *ngIf="administrador" formControlName="destino_id" class="form-control" [ngModel]="dataEdit.destino_id" (change)=" onChangeDestino()">  -->
                        <select formControlName="destino_id" class="form-control" style="width: 100%;"> 
                                <option *ngFor="let destino of destinos_drop" [value]="destino.id_destino" >{{destino.destino}}</option>
                        </select>

                        <!-- <small *ngIf="destinoTrasNoValido" class="form-text text-danger">
                            <div *ngFor="let validation of traslado_validation_messages.destino_id" >
                                <div  *ngIf="formaTraslados.get('destino_id')?.hasError(validation.type)">
                                    {{validation.message}}
                                </div>
                            </div>
                        </small> -->

                        <!-- <p-dropdown class="form-control" [options]="destinos" formControlName="destino_id" optionLabel="destino" optionValue="id_destino" [virtualScroll]="true" appendTo="body"></p-dropdown> -->
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Instrumento</label>
                        <input formControlName="instrumento" type="text" placeholder="instrumento">

                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Fecha</label>
                        <input formControlName="fecha" type="text" placeholder="fecha">

                    </div>
                </div>

            </div>



            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Fojas</label>
                        <input formControlName="fojas" type="text" placeholder="fojas">

                    </div>
                </div>



            </div>
            <hr *ngIf="nuevoTraslado" style="height: 5px; border-color: darkgray;">

            <div class="row mt-2" *ngIf="nuevoTraslado">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Buscar Personal</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <input formControlName="dni_buscar" type="text" class="form-control" placeholder="dni buscado">

                            </div>
                        </div>

                        <div class="col-6">
                            <button style="width: 100%; text-align: center;" class="btn btn-primary" (click)="buscarPersonalXDni()"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>

                        </div>
                    </div>
                </div>

            </div>
            <hr *ngIf="nuevoTraslado" style="height: 5px; border-color: darkgray;">

            <div class="row mt-2">
                <div class="col-12">
                    <input formControlName="grado_apellido_nombre" type="text" placeholder="personal" style="width: 100%;" Disabled>

                </div>
            </div>

            <div class="row mt-2">

                <div class="col-6" id="foto-personal">

                    <img [src]="foto_nombre" class="product-image" alt="Product Image">

                </div>

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Legajo</label>
                                <input formControlName="legajo" type="text" placeholder="legajo" Disabled>

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Dni</label>
                                <input formControlName="dni_personal" type="text" placeholder="dni personal" Disabled>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <div class="icheck-primary">
                        <input type="checkbox" id="vigente" formControlName="vigente" Disabled>
                        <label for="vigente">
                            Vigente
                        </label>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="icheck-primary">
                        <input type="checkbox" id="confirmado" formControlName="confirmado" Disabled>
                        <label for="confirmado">
                            Confirmado
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="row">
            <div class="col-8">
                <button *ngIf="verTraslado && !administrador" style="width: 100%; text-align: center;" type="submit" class="btn btn-primary" (click)="confirmarTraslado()">Confirmar Traslado</button>
                <button *ngIf="nuevoTraslado" style="width: 100%; text-align: center;" type="submit" class="btn btn-primary" (click)="submitFormTraslado()">Guardar Traslado</button>
            </div>

            <div class="col-4">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="ocultarDialogoTraslado()"></button>
            </div>
        </div>
    </ng-template>

</p-dialog>
<!-- FIN DIALOG FORMULARIO TRASLADO -->