<p>traslados-listar works!</p>

<!-- TABLA HISTORIAL DE TRASLADOS -->
<table class="table table-responsive table-striped" style="width:'100%'">
    <thead>
        <tr>
            <th style="width: 50px;">Ver</th>
            <th style="width: 100px;">Vigente</th>
            <th style="width: 100px;">Confirmado</th>
            <th style="width: 100px;">Grado</th>
            <th style="width: 300px;">Apellido y Nombre</th>
            <th style="width: 100px;">Legajo</th>
            <th style="width: 350px;">Destino</th>
            <th style="width: 250px;">Instrumento</th>
            <th style="width: 200px;">Fecha</th>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let traslado of listaTraslado">
            <th>
                <!-- <a type="button" pButton pRipple icon="fas fa-edit" class="p-button-rounded p-button-info p-mr-2" (click)="confirmarTraslado(traslado.id_traslado)">
                </a> -->
                <button class="btn btn-info" (click)="confirmarTraslado(traslado.id_traslado)"><i class="fas fa-check-circle"></i></button>

            </th>
            <th>{{(traslado.vigente==true)?'SI':'NO'}}</th>
            <th>{{(traslado.confirmado==true)?'SI':'NO'}}</th>
            <th>{{traslado.personal.grado.grado}}</th>
            <th>{{traslado.personal.apellido_1}} {{traslado.personal.nombre_1}}</th>
            <th>{{traslado.legajo}}</th>
            <th>{{(traslado.destino != null)?traslado.destino.destino:"sin destino"}}</th>

            <th>{{traslado.instrumento}}</th>
            <th>{{traslado.fecha}}</th>



        </tr>
    </tbody>
</table>
<!-- FIN TABLA HISTORIAL DE TRASLADOS -->