<div class="row">
    <div class="col-12">
        <!-- TABLA TRASLADOS-->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tabla de Grados Cargados</h3>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 ">
                        <button *ngIf="!gradoConfigurado" pButton pRipple label="Configurar Grado" icon="fa-solid fa-gear" class="p-button-secondary p-mr-2 ml-3" (click)="abrirGonfigurarGrado()"></button>
                        <button *ngIf="gradoConfigurado" pButton pRipple label="Limpiar config. grado" icon="fa-solid fa-broom" class="p-button-warning p-mr-2 ml-3" (click)="limpiarGradoConfigurado()"></button>
                        <button pButton type="button" label="Nuevo Ascenso" class="p-button-success" icon="fa-solid fa-circle-plus" iconPos="left" (click)="abrirFormCrearGrado()"></button>

                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="card">
                    <form [formGroup]="formaFiltro">
                        <div *ngIf="administrador" class="row mt-2">
                            <div class="col-2 ml-3">
                                <div class="form-group ">
                                    <label>Cant. Registros: </label>
                                    <input formControlName="cantidad_registros" class="form-control" type="text" placeholder="" Disabled>

                                </div>
                            </div>
                        </div>

                    </form>

                    <div *ngIf="cargando" class="card text-center">
                        <p-progressSpinner [style]="{width: '15%', height: '15%'}" strokeWidth="5"></p-progressSpinner>
                    </div>

                    <div class="card mt-2" *ngIf="!cargando">
                        <!-- <p-table #dt id="personal-table" [value]="listaTraslado" [style]="{width:'100%'}" [columns]="colsTablaPersonalExport" [exportFilename]="nombre_archivo" selectionMode="multiple" [(selection)]="selectedPersonal" dataKey="id_personal" [rowHover]="true" [rows]="5"
                            [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" [loading]="loading" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']"
                            [scrollable]="true" scrollHeight="100%" [responsive]="false"> -->
                        <p-table #dt id="ascensos-table" [value]="listaGrados" [style]="{width:'100%'}" [columns]="colsTablaPersonalExport" selectionMode="multiple" dataKey="id_personal" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]"
                            [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']" [scrollable]="true" scrollHeight="100%"
                            [responsive]="false">

                            <!-- <ng-template pTemplate="caption">
                                <div class="p-d-flex">

                                    <button pButton type="button" label="Decargar en Excel" class="p-button-success" icon="pi pi-file-excel" iconPos="left" (click)="exportExcel()"></button>

                                </div> -->

                            <div class="table-header mt-4">



                            </div>
                            <!-- </ng-template> -->-->
                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col style="width:70px">
                                    <col style="width:40px">
                                    <col style="width:100px">
                                    <col style="width:100px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">

                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th></th>
                                    <th style="width: 3rem">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>

                                    <th>
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Vigente
                                        </div>
                                    </th>

                                    <th pSortableColumn="grado.grado">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Grado
                                            <!-- <p-sortIcon field="grado.grado"></p-sortIcon> -->
                                            <p-columnFilter field="personal.grado.grado" matchMode="equals" display="menu" class="p-ml-auto">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-dropdown ngModel="value" [options]="grados" (onChange)="filter($event.value)" placeholder="Any">
                                                        <ng-template let-option pTemplate="item">
                                                            <img [alt]="option.label" src="../../../assets/img/grados/{{option.img_name}}.gif" width="32" style="vertical-align: middle" />
                                                            <span [class]="'customer-badge status-' + option.value"> {{option.label}}</span>
                                                        </ng-template>
                                                    </p-dropdown>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="personal.apellido_1">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Personal
                                            <p-sortIcon field="personal.apellido_1"></p-sortIcon>
                                            <p-columnFilter type="text" field="personal.apellido_1" display="menu" class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </th>



                                    <th pSortableColumn="legajo">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Legajo
                                            <p-sortIcon field="legajo"></p-sortIcon>
                                            <p-columnFilter type="text" field="legajo" display="menu" class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </th>

                                    <th pSortableColumn="destino.destino">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Destino
                                            <p-sortIcon field="destino.destino"></p-sortIcon>
                                            <!-- <p-columnFilter field="destino.destino" matchMode="equals" display="menu" class="p-ml-auto">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-dropdown ngModel="value" [options]="destinos" (onChange)="filter($event.value)" placeholder="Any">
                                                        <ng-template let-option pTemplate="item">
                                                            <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                                        </ng-template>
                                                    </p-dropdown>
                                                </ng-template>
                                            </p-columnFilter> -->
                                        </div>
                                    </th>

                                    <th pSortableColumn="domicilio">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Instrumento
                                            <p-sortIcon field="domicilio.domicilio"></p-sortIcon>
                                            <p-columnFilter type="text" field="domicilio.domicilio" display="menu" class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="provincia.provincia">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Fecha
                                            <p-sortIcon field="provincia.provincia"></p-sortIcon>
                                            <p-columnFilter type="text" field="provincia.provincia" display="menu" class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </th>


                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-grado>

                                <tr class="p-selectable-row">
                                    <td>
                                        <!-- <button class="btn btn-info" (click)="mostrarTraslado(traslado)"><i class="fas fa-check-circle"></i></button> -->

                                    </td>
                                    <td>
                                        <p-tableCheckbox [value]="grado"></p-tableCheckbox>
                                    </td>


                                    <td>{{(grado.vigente==true)?'SI':'NO'}}</td>
                                    <td>{{grado.personal.grado.grado}}</td>
                                    <td>{{grado.personal.apellido_1}} {{grado.personal.nombre_1}}</td>

                                    <td>{{grado.legajo}}</td>
                                    <td>{{(grado.escalafon!= null)?grado.escalafon.escalafon:"sin escalafon"}}</td>

                                    <td>{{grado.fecha_instrumento_orden}}</td>
                                    <td>{{grado.fecha_ascenso}}</td>


                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="8">No customers found.</td>
                                </tr>
                            </ng-template>


                        </p-table>
                    </div>

                </div>
            </div>
        </div>
        <!-- FIN TABLA TRASLADOS-->
        <hr>
        <pre>
            Estado del Formulario: {{formaGrado.valid}}
            <br>
            Status: {{formaGrado.status}}
        </pre>
        <pre>
            {{formaGrado.value | json}}
        </pre>
        <!-- FIN datos pre-->
    </div>
</div>


<!-- DIALOG FORMULARIO GRADO -->
<p-dialog [(visible)]="newGradoDialog" [style]="{width: '450px'}" header={{this.tituloFormGrado}} [closable]="false" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="formaGrado">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Instrumento</label>
                        <input formControlName="instrumento" type="text" placeholder="instrumento">

                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Fecha Instrumento</label>
                        <input formControlName="fecha_instrumento_orden" type="text" placeholder="fecha instrumento">

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Fecha Ascenso</label>
                        <input formControlName="fecha_ascenso" type="text" placeholder="fecha ascenso">

                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- select -->
                    <div class="form-group">
                        <label>Escalafon</label>
                        <!-- <select *ngIf="administrador" formControlName="destino_id" class="form-control" [ngModel]="dataEdit.destino_id" (change)=" onChangeDestino()">  -->
                        <select formControlName="escalafon_id" class="form-control" style="width: 100%;"> 
                                <option *ngFor="let escalafon of escalafones" [value]="escalafon.id_escalafon" >{{escalafon.escalafon}}</option>
                        </select>

                        <!-- <small *ngIf="destinoTrasNoValido" class="form-text text-danger">
                            <div *ngFor="let validation of traslado_validation_messages.destino_id" >
                                <div  *ngIf="formaTraslados.get('destino_id')?.hasError(validation.type)">
                                    {{validation.message}}
                                </div>
                            </div>
                        </small> -->

                        <!-- <p-dropdown class="form-control" [options]="destinos" formControlName="destino_id" optionLabel="destino" optionValue="id_destino" [virtualScroll]="true" appendTo="body"></p-dropdown> -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Escala Jerárquica</label>
                        <!-- <select formControlName="escala_jerarquica_id" class="form-control" (change)=" onChangeEscala()" [class.is-invalid]="escalaJerarquicaNoValido">  -->
                        <select formControlName="escala_jerarquica_id" class="form-control" (change)=" onChangeEscala()"> 
                            <option *ngFor="let escala of escalas" [value]="escala.id_escala_jerarquica">{{escala.escala_jerarquica}}</option> 
                        </select>
                        <!-- <small *ngIf="escalaJerarquicaNoValido" class="form-text text-danger">
                            <div *ngFor="let validation of user_validation_messages.escala_jerarquica_id" >
                                <div  *ngIf="forma.get('escala_jerarquica_id')?.hasError(validation.type)">
                                    {{validation.message}}
                                </div>
                            </div>
                        </small> -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- select -->
                    <div class="form-group">
                        <label>Grado</label>
                        <!-- <select *ngIf="administrador" formControlName="destino_id" class="form-control" [ngModel]="dataEdit.destino_id" (change)=" onChangeDestino()">  -->
                        <select formControlName="grado_id" class="form-control" style="width: 100%;"> 
                                <option *ngFor="let grado of grados" [value]="grado.id_grado" >{{grado.grado}}</option>
                        </select>

                        <!-- <small *ngIf="destinoTrasNoValido" class="form-text text-danger">
                            <div *ngFor="let validation of traslado_validation_messages.destino_id" >
                                <div  *ngIf="formaTraslados.get('destino_id')?.hasError(validation.type)">
                                    {{validation.message}}
                                </div>
                            </div>
                        </small> -->

                        <!-- <p-dropdown class="form-control" [options]="destinos" formControlName="destino_id" optionLabel="destino" optionValue="id_destino" [virtualScroll]="true" appendTo="body"></p-dropdown> -->
                    </div>
                </div>


            </div>

            <div *ngIf="gradoConfigurado">




                <hr style="height: 5px; border-color: darkgray;">

                <div class="row mt-2">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Buscar Personal</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <input formControlName="dni_buscar" type="text" class="form-control" placeholder="dni buscado">

                                </div>
                            </div>

                            <div class="col-6">
                                <button style="width: 100%; text-align: center;" class="btn btn-primary" (click)="buscarPersonalXDni()"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>

                            </div>
                        </div>
                    </div>

                </div>
                <hr style="height: 5px; border-color: darkgray;">

                <div class="row mt-2">
                    <div class="col-12">
                        <input formControlName="grado_apellido_nombre" type="text" placeholder="personal" style="width: 100%;" Disabled>

                    </div>
                </div>

                <div class="row mt-2">

                    <div class="col-6" id="foto-personal">

                        <img [src]="foto_nombre" class="product-image" alt="Product Image">

                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Legajo</label>
                                    <input formControlName="legajo" type="text" placeholder="legajo" Disabled>

                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Dni</label>
                                    <input formControlName="dni_personal" type="text" placeholder="dni personal" Disabled>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Orden</label>
                            <input formControlName="orden" type="text" placeholder="orden">
                        </div>
                    </div>

                </div>



                <div class="row">
                    <div class="col-sm-6">
                        <div class="icheck-primary">
                            <input type="checkbox" id="vigente" formControlName="vigente" Disabled>
                            <label for="vigente">
                            Vigente
                        </label>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="icheck-primary">
                            <input type="checkbox" id="confirmado" formControlName="confirmado" Disabled>
                            <label for="confirmado">
                            Confirmado
                        </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="row">
            <div class="col-8">
                <button *ngIf="!guardarGrado" style="width: 100%; text-align: center;" type="submit" class="btn btn-primary" (click)="configurarGrado()">Guardar configuracion</button>
                <button *ngIf="guardarGrado" style="width: 100%; text-align: center;" type="submit" class="btn btn-primary" (click)="submitFormGrado()">Guardar Grado</button>
            </div>

            <div class="col-4">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="ocultarDialogoGrado()"></button>
            </div>
        </div>
    </ng-template>

</p-dialog>
<!-- FIN DIALOG FORMULARIO TRASLADO -->