<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a routerLink="/dashboard/" class="brand-link">
        <img src="./assets/img/logo1.png" alt="SPPS" class="brand-image img-circle elevation-0" style="opacity: .8">
        <span class="brand-text font-weight-light">SPPS Legajos</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <!-- <div class="image">
                <img [src]="imgUrl" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{nombreUsuario}}</a>
            </div> -->
            <div class="user-panel mt-1 pb-3 mb-1 d-flex ">
                <nav>
                    <div class="btn navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <a class="navbar-link">
                            <!-- <img [src]="imgUrl" class="img-circle elevation-2" style="vertical-align: middle;"> -->
                            <img [src]="imgUrl" class="p-shadow-4" style="border-radius: 10px;">
                            <span class="rounded-circle" style="background-color: darkviolet; width: 50rem; height: 50rem;color: azure;padding:5px;margin-left: 10px; text-align: center;">{{inicialesUsuario}}</span>
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav nav-pills nav-sidebar flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fas fa-power-off"></i>
                                    <p>&nbsp;Cerrar Sesi&oacute;n</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->

                </nav>
            </div>




        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <!-- <ul>
                <li *ngFor="let item of menu">
                    <p>{{item.titulo}}</p>
                </li>
            </ul> -->
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li *ngFor="let item of menu" class="nav-item">
                    <a href="" class="nav-link">
                        <i class="nav-icon" [class]="item.icono"></i>
                        <p>
                            {{item.titulo}}
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li *ngFor="let subitem of item.submenu" class="nav-item">
                            <a [routerLink]="subitem.url" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    {{subitem.titulo}}
                                </p>
                            </a>
                        </li>

                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>