<!-- Main content -->


<div class="card">
    <div class="card-header">
        Fuerza Efectiva de Unidades Carcelarias
    </div>
    <div class="card-body">
        <div class="row align-items-start">

            <div class="col-12 col-md-6">
                <!-- <full-calendar #calendar [options]="calendarOptions"> </full-calendar> -->
                <div class="card">
                    <div class="card-header">
                        Cantidades
                    </div>
                    <div #containerRef class="card-body" style="margin-right: 30px; fill: #e0e0e0;">
                        <ngx-charts-bar-vertical [view]="[containerRef.offsetWidth, 400]" scheme="cool" [results]="unidades" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                            [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                        </ngx-charts-bar-vertical>
                    </div>

                </div>
                <!-- /.col -->

            </div>
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        Porcentajes
                    </div>
                    <div #containerRef1 class="card-body" style="margin-right: 30px; fill: #e0e0e0;">
                        <ngx-charts-pie-grid [view]="[containerRef1.offsetWidth, 400]" scheme="cool" [results]="unidades" (select)="onSelect($event)">
                        </ngx-charts-pie-grid>
                    </div>
                </div>

            </div>

            <!-- /.row -->

            <div class="row">
                <div class="col">
                    <!-- Dialogo Modal: Formulario de Carga de Nuevo Pdf -->
                    <p-dialog [(visible)]="newFileDialog" [style]="{width: '450px'}" header="Nuevo Evento" [closable]="false" [modal]="true" styleClass="p-fluid">
                        <ng-template pTemplate="content">
                            <!-- <img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.image" class="product-image" *ngIf="product.image"> -->


                            <div class="p-field p-grid">
                                <div class="p-col-12 p-md-10">

                                    <!-- inicio de formulario -->
                                    <div class="p-fluid p-flex-column">


                                        <div class="p-field p-grid">
                                            <label class="p-col-2 p-mb-2 p-mb-md-0" for="detalle">Detalle</label>
                                            <div class="p-col-12 p-md-10">
                                                <!-- <input type="text" pInputText id="detalle" [(ngModel)]="regPdf.detalle" /> -->
                                                <input type="text" pInputText id="detalle" [(ngModel)]="regEvento.detalle" />
                                                <!-- <small class="p-error" *ngIf="submitted && !regPdf.detalle">El Detalle del Archivo es requerido!</small> -->
                                            </div>
                                        </div>
                                        <div class="p-field p-grid">
                                            <label class="p-col-2 p-mb-2 p-mb-md-0" for="indice">Indice</label>
                                            <div class="p-col-12 p-md-10">
                                                <!-- <input type="number" pInputText id="indice" [(ngModel)]="regPdf.indice" /> -->
                                                <input type="number" pInputText id="indice" [(ngModel)]="regEvento.indice" />
                                                <!-- <small class="p-error" *ngIf="submitted && !regPdf.indice">El indice es el orden del Archivo y es requerido!</small> -->
                                            </div>
                                        </div>
                                        <div class="p-field p-grid">
                                            <label class="p-col-2 p-mb-2 p-mb-md-0" for="fecha">Fecha del Pdf</label>
                                            <div class="p-col-12 p-md-10">
                                                <!-- <input type="text" pInputText bsDatepicker [bsConfig]=bsDatePickerConfig (bsValueChange)="onDateChange($event)" id="fecha" [(ngModel)]="regPdf.fecha_documento" required /> -->
                                                <input type="text" pInputText id="fecha" [(ngModel)]="regEvento.fecha_inicio" required />
                                                <!-- <small class="p-error" *ngIf="submitted && !regPdf.fecha_documento">La Fecha es requerida!</small> -->
                                            </div>
                                        </div>


                                    </div>



                                    <!-- fin de formulario -->

                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="ocultarDialogo()"></button>
                            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="nuevoEvento()"></button>
                            <!-- <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="grabarRegPdf()"></button> -->
                        </ng-template>
                    </p-dialog>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- /.content -->